header{
    display: flex;
    justify-content: space-between;
    background-color: #007EA7;
    border-bottom: 10px solid #003249;
    padding: 10px 20px;
    align-items: center;
}

#GSP{  
    font-family: "press start 2P";
    color:#80CED7;
    text-shadow: 4px 4px 0px #003249;
    margin-right: 400px; 
}

img{
    width:60px ;
    height:60px ;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #80CED7;
    height: 10px;
    width: 10px;
    margin-right: 10px; 
}

a:hover{
    color:#003249;
}

#button {
    display: inline-block;
    background-color: #80CED7;
    padding:18px 20px;
    box-shadow: 5px 5px 0px #003249;
    margin-right: 0px;
    transition: transform 150ms linear;
}

#button:hover{
    background-color: #9AD1D4;
    transform: scale(1.08);
}

#button2 {
    display: inline-block;
    background-color: #80CED7;
    padding:18px 20px;
    box-shadow: 5px 5px 0px #003249;
    margin-right: 0px;
    transition: transform 150ms linear;
    margin-left: 155px;
    
}

#button2:hover{
    background-color: #9AD1D4;
    transform: scale(1.08);
}

#button3 {
    display: inline-block;
    background-color: #80CED7;
    box-shadow: 5px 5px 0px #003249;
    margin-right: 0px;
    transition: transform 150ms linear;
    margin-left: 112px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 18px;
    padding-bottom:18px ;
    margin-bottom: 399px;
    
}

#button3:hover{
    background-color: #9AD1D4;
    transform: scale(1.08);
}

#menu{
    background-color: black;
}